<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-12">
            <h3>Estado de Pedidos</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Podes ver el estado de tu pedido cargando tu código de mesa y código de pedido</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" (click) = "habilitarSeleccionDeMesa()">Ver estado de pedidos</button>
        </div>
    </div>
</div>
<hr>