<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-12">
            <h3>BUSCAR CLIENTE</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Introducir el nombre del cliente para obtener su id</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label for="codigoMesa">Nombre Cliente</label>
            <input type="text" class="form-control" id="nombreCliente" [(ngModel)]="nombreCliente" name="nombreCliente">
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 2%; margin-left: 1.5%;">
        <button type="button" class="btn btn-primary" (click)="buscarCliente()">Buscar cliente</button>
    </div>
    <div style="margin-top: 5%;">
    </div>
</div>

<div class="container" *ngIf="idCliente != undefined">
    <div class="row">
        <div class="col-12">
            <h4>Cliente buscado: </h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numero de cliente</th>
                        <th scope="col">Nombre de cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{idCliente}}</td>
                        <td>{{nombreCliente}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>