<div class="container">
    <div class="row">
        <div class="col-12">        
            <h3>Cargar Pedidos</h3>
        </div>
    </div>
</div>

<div class="container" *ngIf = "estadoCliente == null && idMesaElegida == 0">
  <div class="row">
    <div class="col-12">
      <p>Para iniciar su pedido, seleccione una mesa</p>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" (click) = "habilitarSeleccionDeMesa()">Ver Mesas Disponibles</button>
      </div>
    </div>
</div>

<div class="container" *ngIf ="estadoCliente == 'S'"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mesa</th>
        <th scope="col">Codigo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mesa of mesas">
        <td>{{mesa.id}}</td>
        <td>{{mesa.codigo}}</td>
        <td><button class="btn btn-primary" (click)="seleccionarMesa(mesa.id, mesa.codigo)">Elegir</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf ="estadoCliente == 'E'"> 
  <div class="row">
    <div class="col-4">
      <h4>No hay mesas disponibles</h4>
    </div>
  </div> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col-4">Clientes en espera</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col-4">{{clientesEnEspera}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary" (click) = "agregarEnListaDeEspera()">Ponerme en espera</button>
    </div>
  </div>  
</div>

<div class="container" *ngIf = "estadoCliente == 'A'">
  <div class="row">
    <div class="col-12">
      <p>Cuando tenga una mesa asignada, actualice para realizar su pedido</p>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" (click) = "actualizar()">Actualizar</button>
      </div>
    </div>
</div>

<div class="container" *ngIf="idMesaElegida != 0">
  <div class="row">
    <div class="col-12">
      <h4>Su mesa: </h4>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Mesa</th>
              <th scope="col">Codigo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{idMesaElegida}}</td>
              <td>{{codigoMesaElegida}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<hr>