<div  *ngIf ="listadoDeCodigos.length > 0">
  <div class="container" style="margin-top: 2%;"> 
      <div class="row">
          <div class="col-12">
              <h4>Sus códigos de pedidos: </h4>
          </div>
      </div>
      <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Pedido</th>
                <th scope="col">Codigo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of listadoDeCodigos">
                <td>{{pedido.producto}}</td>
                <td>{{pedido.codigo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
  <hr>
</div>